<li class="category-list-item list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-id="<%=category.id%>">
  <%= category.name %>

  <span class="category-manage">
    <!-- <a class="badge badge&#45;info"><%= fa_icon "file&#45;text&#45;o"%></a>  -->
    <%= link_to edit_admin_category_path(category), class:'badge badge-info', remote: true do%>
      <%= fa_icon 'file-text-o'%>
    <%end%>
    <%= link_to admin_category_path(category), method: :delete, class:'badge badge-danger', remote: true do%>
      <%= fa_icon 'trash-o'%>
    <% end %> 
  </span>
</li>
